@using Microsoft.AspNetCore.Identity
@using kafer_house.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

 <div class="bg-body-light">
         <div class="content content-full">
                <!-- Page Content -->
                <div class="bg-image" style="background-image: url('assets/media/photos/photo15@2x.jpg');">
                    <div class="hero bg-white-90">
                        <div class="hero-inner">
                            <div class="content content-full text-center">
                                <h1 class="display-4 font-w700 mb-3 invisible" data-toggle="appear" data-class="animated fadeInDown">
                                    "SW"<span class="text-primary"></span>
                                </h1>
                                <h2 class="font-w300 text-muted mb-5 invisible" data-toggle="appear" data-class="animated fadeInUp" data-timeout="400">We are gold trading system who provide the platform for trading gold use of the gold shop. </h2>
                                <div style="display: flex; flex-direction: column; align-items: center" class="invisible" data-toggle="appear" data-class="animated fadeInUp" data-timeout="800">

                        

                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
              </div>
      </div>
            <!-- END Main Container -->
      
